body {
    font-family: Arial, sans-serif;
    background-color: rgb(13, 182, 238);
    color: #444;
  }
  
  div {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  p {
    line-height: 1.6;
  }
  